[Unit]
Description=Pyaiot Manager service
After=network.target radvd.service aiot-broker.service

[Service]
User=pi
Environment='BROKER_HOST=localhost' \
            'BROKER_PORT=8082'

ExecStart=/usr/local/bin/aiot-manager \
            --broker-host=${BROKER_HOST}   \
            --broker-port=${BROKER_PORT}

[Install]
WantedBy=multi-user.target
Alias=aiot-manager.service
