<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    <!-- Material Design fonts -->
    <!-- <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700"> -->
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('node_modules/material-design-icons-iconfont/dist/material-design-icons.css') }}">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- FontAwesome -->
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('node_modules/font-awesome/css/font-awesome.min.css') }}">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('node_modules/bootstrap-material-design/dist/css/ripples.min.css') }}">

    <!-- Dropdown.js -->
    <!-- <link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet"> -->
    <link href="{{ static_url('css/jquery.dropdown.css') }}" rel="stylesheet">

    <!-- Javascript modules -->
    <script type="text/javascript"
            src="{{ static_url('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/bootstrap-material-design/dist/js/material.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/bootstrap-material-design/dist/js/ripples.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/masonry-layout/dist/masonry.pkgd.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/smoothie/smoothie.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/vue/dist/vue.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/three/build/three.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/codemirror/lib/codemirror.js') }}"></script>
    <script type="text/javascript"
            src="{{ static_url('node_modules/codemirror/mode/javascript/javascript.js') }}"></script>

    <!-- CodeMirror stylesheet -->
    <link rel="stylesheet" href="{{ static_url('node_modules/codemirror/lib/codemirror.css') }}">

    <script src="{{ static_url('js/helpers.js') }}"></script>

    <!-- Pyaiot dashboard css -->
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/dashboard.css') }}">
</head>
<body>
<script>
var theme = localStorage.theme || 'dark';
var total_seats = 28;

if (theme == 'dark') {
    document.body.classList.add('dark');
}
</script>

<div id="app">
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if logo_url %}<img class="navbar-brand" src="{{ logo_url }}" style="margin-top: -3px">{% end %}
                <a class="navbar-brand" href="javascript:void(0)"><i class="fa fa-lg fa-bus"></i> 버스충전시스템
                    ({{! nodes.slice(1).reduce((acc, cur)=>acc + (cur.active ? 1 : 0), 0) }}/{{! (nodes.length-1) }}) </a>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            좌석표시항목
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li v-for="(resource, index) in resources">
                                <a :href="'#resource'+index">
                                    <div class="checkbox" style="display: inline; margin-right: 5px;" @click.stop @change="Vue.nextTick(refresh_layout)">
                                        <label>
                                            <input type="checkbox" v-model="resource.visible">
                                        </label>
                                    </div>
                                    {{! resource.name }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a data-toggle="modal" data-target="#settingsModal" href="">
                            <i class="material-icons" style="line-height: inherit">settings</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal" id="settingsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title">Settings</h2>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="margin: 0">
                        <label for="selectTheme" class="control-label">Theme</label>
                        <select id="selectTheme" class="form-control">
                            <option value="dark">Dark</option>
                            <option value="light">Light</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <template v-if="nodes.length > 0 && nodes[0]">
        <div class="container">
            <table class="table table-responsive">
                <tbody>
                <tr>
                    <th style="width: 10%">
                        시스템
                    </th>
                    <th style="width: 30%">
                        <div class="h6 text-muted">온도</div>
                        <div class="h4">{{!nodes[0].data.temperature}}℃</div>
                    </th>
                    <th style="width: 30%">
                        <div class="h6 text-muted">습도</div>
                        <div class="h4">{{!nodes[0].data.humidity}}%</div>
                    </th>
                    <th style="width: 40%">
                        <div class="h6 text-muted">주장치</div>
                        <div class="h4">정상</div>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="container">
            <table class="table table-responsive">
                <tbody>
                <tr>
                    <th style="width: 10%">
                        전압(V)
                    </th>
                    <th style="width: 10%">
                        <div class="h6 text-muted">평균</div>
                        <div class="h4">{{! nodes[0].data.group_voltage.reduce( ( p, c ) => p + parseFloat(c), 0 ) / nodes[0].data.group_voltage.length }}</div>
                    </th>
                    <th v-for="(voltage, index) in nodes[0].data.group_voltage" style="width: 10%">
                        <div class="h6 text-muted">그룹 {{! 'ABCDEFG'.charAt(index) }}</div>
                        <div class="h4">{{! voltage }}</div>
                    </th>
                </tr>
                <tr>
                    <th>
                        전류(A)
                    </th>
                    <th>
                        <div class="h6 text-muted">전체</div>
                        <div class="h4">{{! nodes[0].data.group_current.reduce( ( p, c ) => p + parseFloat(c), 0 ) }}</div>
                    </th>
                    <th v-for="(voltage, index) in nodes[0].data.group_current">
                        <div class="h6 text-muted">그룹 {{! 'ABCDEFG'.charAt(index) }}</div>
                        <div class="h4">{{!voltage}}</div>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </template>

    <div class="container">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th style="width: 10%">좌석</th>
                <th style="width: 20%" v-show="resources.status.visible">상태</th>
                <th style="width: 10%" v-show="resources.voltage.visible">전압(V)</th>
                <th style="width: 10%" v-show="resources.current.visible">전류(A)</th>
                <th style="width: 10%" v-show="resources.group.visible">그룹</th>
                <th style="width: 10%" v-show="resources.ip.visible">IP</th>
                <th style="width: 10%" v-show="resources.version.visible">버전</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(node, index) in nodes.slice(1)">
                <th>
                    {{! index+1 }}
                </th>
                <th v-show="resources.status.visible">
                    <span v-if="!node.uid" class="text-disabled">
                        <i class="fa fa-lg fa-ban"></i><span class="small">미등록</span>
                    </span>
                    <span v-else-if="!node.active" class="text-warning">
                        <i class="fa fa-lg fa-minus-circle"></i><span class="small">미연결</span>
                    </span>
                    <span v-else-if="'fail' in node.data && node.data.fail != '0'" class="text-warning">
                        <i class="fa fa-lg fa-warning"></i><span class="small">장애({{! node.data.fail }})</span>
                    </span>
                    <span v-else>
                        <i class="fa fa-lg fa-wifi"></i>
                    </span>

                    <template v-if="node.active && 'usb' in node.data && node.data.usb != '0'">
                        <span v-if="'fastcharge' in node.data && node.data.fastcharge != '0'" class="text-primary">
                            <i class="fa fa-lg fa-battery-3"></i>
                        </span>
                        <span v-else class="text-dark">
                            <i class="fa fa-lg fa-battery-2"></i>
                        </span>
                    </template>
                    <span v-else-if="node.active" class="text-disabled">
                            <i class="fa fa-lg fa-battery-0"></i>
                    </span>
                </th>
                <th v-show="resources.voltage.visible">
                    <span v-if="'voltage' in node.data">{{! (node.data.voltage / 190.).toFixed(1) }}</span>
                </th>
                <th v-show="resources.current.visible">
                    <span v-if="'current' in node.data">{{! node.data.current }}</span>
                </th>
                <th v-show="resources.group.visible">
                    <span v-if="seat_info[index+1]">{{! '-ABCDEFG'.charAt(seat_info[index+1].group_number) }}</span>
                </th>
                <th v-show="resources.ip.visible">
                    <span v-if="'ip' in node.data">{{! (node.data.ip).replace('::ffff:','') }}</span>
                </th>
                <th v-show="resources.version.visible">
                    <span v-if="'version' in node.data">{{! node.data.version }}</span>
                </th>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<script>
function Resource(name, visible=true) {
    return {name: name, visible: visible}
}

var data = {
    resources: {
        status: Resource("상태"),
        voltage: Resource("전압"),
        current: Resource("전류"),
        group: Resource("그룹"),
        ip: Resource("IP", false),
        version: Resource("버전", false),
    },
    nodes: [],
    unregs: {},
    seat_info: [],
};

var vm = new Vue({
    el: '#app',
    data: data
});

// initialize bootstrap material design
$.material.init()

var ws = new WebSocket('{{ wsproto }}://{{ wsserver }}/ws')

ws.onopen = function() {
    console.log("WebSocket is ready")
    sendData("new", "client")
}
ws.onmessage = function(event) {
    let msg = JSON.parse(event.data)
    receive_message(msg)
}
ws.onclose = function(ev){
    console.log("WebSocket closed")
    print_ws_close_reason(ev.code)
}
ws.onerror = function(ev){
    console.log("WebSocket error", ev)
}

function Node(data={}) {
    this.uid = null
    this.info = null
    this.data = {}
    this.active = false
    this.visible = true
}

function rebuild_nodes() {
    let len = vm.seat_info.length
    Vue.set(vm.nodes, 'length', len)

    for (var i = 0; i < len; i++) {
        if (vm.seat_info[i]) {
            if (!vm.nodes[i])
                Vue.set(vm.nodes, i, new Node(vm.seat_info[i]))

            Vue.set(vm.nodes[i], 'info', vm.seat_info[i])
            if (vm.nodes[i].info.uid != vm.nodes[i].uid) {
                let uid = vm.nodes[i].info.uid
                Vue.set(vm.nodes[i], 'uid', uid)
                if (uid in vm.unregs) {
                    Vue.set(vm.nodes[i], 'data', vm.unregs[uid])
                    Vue.delete(vm.unregs, uid)
                    Vue.set(vm.nodes[i], 'active', true)
                } else {
                    Vue.set(vm.nodes[i], 'data', {})
                    Vue.set(vm.nodes[i], 'active', false)
                }
            }
        } else {
            Vue.set(vm.nodes, i, new Node(vm.seat_info[i]))
        }
    }
}

function receive_message(msg) {
    let node_uid = msg.uid
    let index = vm.nodes.map(e => e.uid).indexOf(node_uid)

    console.log(msg)
    switch (msg.type) {
        case 'new':
        case 'reset':
            console.log("New node", node_uid)
            if (index == -1) {
                Vue.set(vm.unregs, node_uid, {})
            } else {
                Vue.set(vm.nodes[index], 'active', true)
            }
            break
        case 'out':
            if (index != -1) {
                console.log("Removing node", node_uid)
                Vue.set(vm.nodes[index], 'active', false)
            } else {
                Vue.delete(vm.unregs, node_uid)
            }
            //remove_charts(node_uid)
            break
        case 'update':
            let endpoint = msg.endpoint.replace(/^\//g, '') // remove leading slash
            if (endpoint == 'seat_info') {
                vm.seat_info = msg.data
                rebuild_nodes()
                break
            }

            if (index != -1) {
                var data = msg.data

                //console.log("Updating node", node_uid, "with", endpoint, "data:", data)
                Vue.set(vm.nodes[index].data, endpoint, data) // same as vm.nodes[index].data[endpoint] = msg.data, but triggers UI update

                // force material UI refresh
                $.material.init()

                //Vue.nextTick(_ => update_charts(msg))
            } else {
                if (!node_uid in vm.unregs) {
                    Vue.set(vm.unregs, node_uid, {})
                }
                Vue.set(vm.unregs[node_uid], endpoint, msg.data)
            }
            break
        default:
            console.log('Unknown command', msg.type)
            break
    }
    Vue.nextTick(refresh_layout)
}

function sendData(type, data) {
    ws.send(JSON.stringify({"type": type, "data": data}))
}

function refresh_layout() {
}

$('#selectTheme').change(function () {
    if ($(this).val() == 'dark') {
        $('body').addClass('dark')
    } else {
        $('body').removeClass('dark')
    }
})

$('#settingsModal').on('hide.bs.modal', function (e) {
    localStorage.setItem('theme', $('#selectTheme').val())
});

</script>

</body>
</html>
